.footerbg{
    color : white;
    background-color: #1a586a;
    width: auto;    
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;      
}
.font-face-gm{    
    text-align: center;
    text-justify: auto;       
}
